<div class="newsletter">
  <div [ngClass]="layout === 'vertical' ? 'background-image' : 'background-image-horizontal'"></div>
  <div [ngClass]="layout === 'vertical' ? 'newsletter-vertical' : 'newsletter-horizontal'">
    <h4>Be valuable</h4>
    <h2>Gentlemen newsletter</h2>
    <h3>FREE guide on gentlemen behaviour</h3>
    <form [formGroup]="form" (ngSubmit)="openGenderDialog()" class="form">
      <div class="form-field">
        <input type="email"
               class="form-control"
               placeholder="Email"
               [formControlName]="userProperty.email"
               [class.missing-field]="isFieldMissing('email')">
      </div>
      <button type="submit">Subscribe</button>
      <div class="error-message">{{ emailExists ? 'Email already exists!' : ' ' }}</div>
    </form>
  </div>
</div>
