<div class="who-am-i">
  <div class="top">
    <h2>Where are gentlemen?</h2>
  </div>
  <div class="bottom">
    <div class="image-container">
      <img src="../../../../assets/Farre.webp" class="image">
    </div>
    <div class="text">
      <h3>Learn the manners all alphas stick to</h3>
      <p>In our current era, a swift transformation engulfs all that resides in our midst. Consequently, the anticipations held by the fairer sex and our fellow beings towards our masculine cohort have evolved beyond the predilections of yore. Navigating this tide of change proves to be a formidable task, yet to distinguish oneself amidst this flux, the acquisition of erudition and aptitude becomes an imperative.</p>
      <button class="button" (click)="redirectTo('/gentlemen/account')">Become a gentleman</button>
    </div>
  </div>
</div>
