<div class="principles">
  <div class="top">
    <h2>The Farre basic principles</h2>
  </div>
  <div class="bottom">
    <div class="text">
      <h3>Guided by that...</h3>
      <p>As a man, you cannot go through life without principles you adhere to. As with all things in life, we lead by example, so I want to hand out my principles transparently in an attempt to avoid imposing and twisting what I say, as well as encouraging others.</p>
      <button class="button">Learn my principles</button>
    </div>
    <div class="image-container">
      <img class="image" src="../../../../assets/Farre4.webp">
    </div>
  </div>
</div>
