<div *ngIf="email" class="ai">
  <div style="display: flex; flex-direction: row">
    <div *ngIf="hasNew" class="user-profile">
      <p>New profile</p>
      <p>First name: {{newProfile[userProperty.firstName]}}</p>
      <p>Last name: {{newProfile[userProperty.lastName]}}</p>
      <p>Birthday: {{newProfile[userProperty.birthday]}}</p>
      <p>City: {{newProfile[userProperty.city]}}</p>
      <p>Country: {{newProfile[userProperty.country]}}</p>
      <p *ngIf="newProfile[userProperty.phone]">Phone: {{newProfile[userProperty.phone]}}</p>
    </div>
    <div *ngIf="hasExisting" class="user-profile">
      <p>Existing voice match</p>
      <p>First name: {{existingProfile[userProperty.firstName]}}</p>
      <p>Last name: {{existingProfile[userProperty.lastName]}}</p>
      <p>Birthday: {{existingProfile[userProperty.birthday]}}</p>
      <p>City: {{existingProfile[userProperty.city]}}</p>
      <p>Country: {{existingProfile[userProperty.country]}}</p>
      <p *ngIf="newProfile[userProperty.phone]">Phone: {{existingProfile[userProperty.phone]}}</p>
    </div>
  </div>
  <div *ngIf="newProfile == undefined" class="message">
    <p>Introduce yourself: first and last name, date of birth, country and city you live in, and phone number...</p>
  </div>

  <div class="text">
    <textarea *ngIf="transcript != '' || typing == true" [(ngModel)]="transcript" placeholder="My name is John Doe, I live in London, United Kingdom, and I was born on 27th May 1976."></textarea>
  </div>

  <div class="buttons">
    <div class="upper">
      <button class="button green" [disabled]="!recordedAudio && !transcript" (click)="generateProfile()">
        <span *ngIf="recording">Creating...</span>
        <span *ngIf="!recording">Create</span>
      </button>
      <button class="button white" (click)="startRecording()" [disabled]="recording">
        <span *ngIf="!recording">Speak</span>
        <span *ngIf="recording">Recording...</span>
      </button>
      <button class="button white" (click)="stopRecording()" [disabled]="!recording">Stop</button>
      <button class="button red" [disabled]="!recordedAudio && !transcript" (click)="deleteRecording()">Cancel</button>
    </div>

    <div class="lower">
      <button class="button white" [disabled]="recordedAudio || transcript" (click)="enableTyping()">Type in</button>
      <button class="button yellow" [disabled]="!recordedAudio && !transcript" (click)="saveProfile()">Save Profile</button>
    </div>
  </div>
</div>

<div *ngIf="email == ''" class="email">
  <form [formGroup]="emailForm">
    <input type="email" formControlName="email" placeholder="Email">
    <div *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched">
      <div *ngIf="emailForm.get('email')?.hasError('required')">Email is required.</div>
      <div *ngIf="emailForm.get('email')?.hasError('pattern')">Invalid email format.</div>
    </div>
    <button type="submit" [disabled]="emailForm.invalid" (click)="submitEmail()">Submit</button>
  </form>
</div>
