.courses {
  display: flex;
  height: calc(100vh - 58px);
  padding: 12% 12%;
}

.course-list {
  width: 30%;
  margin-right: 10px;
  color: white;
  font-size: 22px;
  background-color: #2b292d;
}

.course-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.course-list li {
  cursor: pointer;
  padding: 10px 10px;
}

.course-list li:hover {
  background-color: #4f0e55;
}

.course-list .selected {
  background-color: #4f0e55;
}

.course-description {
  width: 70%;
  background-color: transparent;
  padding: 10px;
}
mat-expansion-panel{
  background-color: #2c272f;
}
mat-panel-title{
  color: white;
}
mat-panel-description{
  color: white;
  flex-grow: 0;
}

:host ::ng-deep .mat-expansion-indicator::after{
  color: white;
}

:host ::ng-deep .mat-expansion-panel-body{
  padding: 0 0 16px;
}

.lessons{

}

.lesson{
  display: flex;
  align-items: center;
  margin: 15px 0;
  padding: 0 24px;
  color: white;
  justify-content: space-between;
}

.text{
  margin: 0;
}

.button{
  display: flex;
  align-items: center;
  height: 32px;
  border: 0;
  border-radius: 3px;
}

.done{
  background-color: #3c3540;
}

.current{
  background-color: #61058d;
  color: white;
}

.blocked{
  background-color: #3c3540;
  color: white;
}
