.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading{
  width: 100%;
  display: flex;
  justify-content: center;
}

h2{
  font-weight: 100;
  font-size: 50px;
  color: #636363;
}

form {
  display: flex;
  flex-direction: column;
}

.form-control{
  color: #e0e0e0;
  background-color: #494949;
  font-size: 25px;
}

.col {
  padding: 10px 0;
}

.message{
  padding: 10px 0;
}

.btn{
  width: 100px;
  background-color: #494949;
  color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .contact{
    padding: 100px 2%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .contact{
    padding: 100px 5%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .contact{
    padding: 100px 10%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .contact{
    padding: 100px 15%;
  }
}

/* Extra large devices (large laptops and desktops, 1280px and up) */
@media only screen and (min-width: 1280px) {
  .contact{
    padding: 100px 20%;
  }
}
