.title {
  position: relative;
  border-bottom: 1px solid #a4a4a4;
  border-top: 1px solid #a4a4a4;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../../../../assets/Farre3.webp);
  background-size: cover;
  background-position: center; /* Set the background position to center */
  opacity: 0.8; /* Adjust the opacity as desired */
  filter: brightness(0.3);
}

.text {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 100%;
  align-items: center;
}

h1{
  font-weight: 400;
  color: #adadad;
}

h2{
  font-weight: 100;
  color: #636363;
}
h3{
  color: #636363;
}

.text button{
  background-color: #4f0e55;
  width: fit-content;
  font-size: 25px;
  padding: 5px 15px;
  text-transform: uppercase;
  border: 0;
  letter-spacing: 1px;
  font-weight: 100;
  color: #e2e2e2;
  -webkit-text-stroke: 1px #e2e2e2;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .title{
    padding: 40px 10% 80px;
    flex-direction: column;
    align-items: center;
  }

  .text{
    padding: 30px 0;
  }

  h1{
    font-size: 45px;
  }

  h2{
    font-size: 40px;
  }

  h3{
    font-size: 35px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .title{
    padding: 50px 10% 50px;
    flex-direction: column;
    align-items: center;
  }

  h1{
    font-size: 55px;
  }

  h2{
    font-size: 50px;
  }

  h3{
    font-size: 40px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .title{
    padding: 50px 10% 75px;
    display: flex;
    flex-direction: row;
  }

  h1{
    font-size: 65px;
  }

  h2{
    font-size: 55px;
  }

  h3{
    font-size: 45px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1{
    font-size: 75px;
  }

  h2{
    font-size: 65px;
  }

  h3{
    font-size: 55px;
  }
}

/* Extra large devices (large laptops and desktops, 1280px and up) */
@media only screen and (min-width: 1280px) {
  h1{
    font-size: 80px;
  }

  h2{
    font-size: 70px;
  }

  h3{
    font-size: 60px;
  }
}
