<div class="footer">
  <div class="up">
    <div class="left">
      <button mat-button
              (click)="scrollToComponent('whoami')"
              class="button regular">
        who am i
      </button>
      <button mat-button
              (click)="scrollToComponent('whatcanido')"
              class="button regular">
        what can i do
      </button>
      <button mat-button
              (click)="scrollToComponent('whatcaniteach')"
              class="button regular"
              [routerLink]="">
        what can i teach
      </button>
    </div>
    <div class="right">
      <div class="social">
        <a href="https://www.facebook.com/farsight.bih/" target=”_blank” class="fa fa-facebook"></a>
        <a href="https://twitter.com/FarreSvrakic" target="_blank" class="fa fa-twitter"></a>
        <a href="https://www.linkedin.com/company/farsight-bih" target=”_blank” class="fa fa-linkedin"></a>
        <a href="https://www.instagram.com/farsight.bih/" target=”_blank” class="fa fa-instagram"></a>
      </div>
    </div>
  </div>
  <div class="down">
    <p>&copy; 2023 TheFarre</p>
  </div>
</div>
