<div class="what-can-i-do">
  <div class="text">
    <div class="line">
      <span class="big">Writing&nbsp;</span>
      <span class="small">a letter</span>
    </div>
    <div class="line">
      <span class="big">Delivering&nbsp;</span>
      <span class="small">items</span>
    </div>
    <div class="line">
      <span class="big">Organising&nbsp;</span>
      <span class="small">events</span>
    </div>
    <div class="line">
      <span class="big">Creating&nbsp;</span>
      <span class="small">a website</span>
    </div>
    <div class="line">
      <span class="big">Consulting&nbsp;</span>
      <span class="small">any topic</span>
    </div>
    <div class="line">
      <span class="big">Working&nbsp;</span>
      <span class="small">on digital design</span>
    </div>
    <div class="line">
      <span class="big">Constructing&nbsp;</span>
      <span class="small">a skyscraper</span>
    </div>
    <div class="line">
      <span class="big">Getting&nbsp;</span>
      <span class="small">you anywhere you want to be</span>
    </div>
    <div class="line">
      <span class="big">Putting&nbsp;</span>
      <span class="small">a submarine at the bottom of the ocean</span>
    </div>
    <div class="line">
      <span class="big">Sending&nbsp;</span>
      <span class="small">a rocket to the unimaginable distances</span>
    </div>
    <div class="line">
      <span class="big">....</span>
    </div>
  </div>
  <div class="image">
    <img src="assets/Farre4.webp">
  </div>

</div>
