.account{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(100vh - 58px);
}

.button{
  font-family: "Naratif Condensed", 'Oswald', sans-serif;
  font-weight: 100;
  color: #afafaf;
  font-size: 25px;
  margin: 15px;
  height: 50px;
  border: 1px solid;
}

.left{
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right{
  width: 33%;
  display: flex;
  flex-direction: column;
}


.center{
  width: 34%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-left: solid 1px white;
  border-right: solid 1px white;
}

.center .profile-picture{
  margin: 15px 0 30px;
  display: flex;
  flex-direction: column;
}

.center .profile-picture img{
  width: 150px;
  border: solid 1px #424242;
  border-radius: 50px;
}

.center .profile-picture button{
  margin-top: 15px;
}

.center .user-info{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.center .user-info p{
  margin: 0 8px 5px 0;
}

.center .info-field{
  font-size: 25px;
  display: flex;

}


.center .edit-field{
  margin-bottom: 1rem;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
}

.buttons{

}


/*-------------------VERTICAL-------------------*/
.newsletter{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  border-right: 1px solid white;
  overflow: hidden;
}

.newsletter-vertical{
  color: white;
  margin-top: 80px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.background-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform 0.3s ease;
  filter: brightness(0.5) !important;
  background-image: url('src/assets/newsletter-image.webp');
}

.newsletter-vertical h2{
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;

}

.newsletter-vertical h3{
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
}

.newsletter-vertical h4{
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
}

.newsletter-vertical .form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-vertical .form-control{
  color: #e0e0e0;
  background-color: #494949;
  font-size: 20px;
  border: 0 solid !important;
  border-radius: 0 !important;
  min-width: 175px;
  margin: 36px 0;
  padding: 10px 15px;
}

.newsletter-vertical .form-control:focus {
  box-shadow: 0 0 0 0 rgba(13,110,253,.25) !important;
}

.newsletter-vertical button{
  font-size: 25px;
  background-color: #521c1c;
  color: #d1d1d1;
  font-weight: 100;
  letter-spacing: 1px;
  border: 0;
  border-radius: 0;
}

.error-message {
  color: red;
  font-size: 20px;
  margin-top: 5px;
}
