.container{
  width: 100%;
  max-width: 10000px;
  padding: 0;
}

.header{
  height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: #3b3b3b 1px solid;
  color: #afafaf;
  align-items: center;
}

/* Add styles for dropdown menus */
.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

/* Show the menu on hover */
.dropdown-container:hover .dropdown-menu {
  display: flex;
  background-color: #303030;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 2px 0px #6f6f6f;
}

.button{
  background: transparent;
  border: 0;
  font-size: 36px;
  font-family: "Naratif Condensed", serif;
  font-weight: 100;
  color: #acacac;
  padding: 0;
}

.short{

}

.long {
  width: 25%;
  font-size: 50px !important;
}

.account-icon {
  background: #afafaf;
  color: #222222;
  opacity: 0.4;
  font-size: 50px;
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 60px;
  border: 0 solid;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1280px and up) */
@media only screen and (min-width: 1280px) {

}
