<div class="resources-container">
  <!-- Social Media Links -->
  <div class="social-media-links">
    <a href="https://www.instagram.com/the_farre" target="_blank" class="social-media instagram" id="instagramLink">
      <div class="background-image instagram-image"></div>
      <div class="text-overlay">
        <i class="fa fa-instagram"></i>
      </div>
    </a>

    <a href="https://twitter.com/the_farre" target="_blank" class="social-media twitter" id="twitterLink">
      <div class="background-image twitter-image"></div>
      <div class="text-overlay">
        <i class="fa fa-twitter"></i>
      </div>
    </a>

    <a href="https://www.linkedin.com/in/faris-svrakic/" target="_blank" class="social-media linkedin" id="linkedinLink">
      <div class="background-image linkedin-image"></div>
      <div class="text-overlay">
        <i class="fa fa-linkedin"></i>
      </div>
    </a>
    <a href="https://www.facebook.com/faris.svrakic" target="_blank" class="social-media facebook" id="facebookLink">
      <div class="background-image facebook-image"></div>
      <div class="text-overlay">
        <i class="fa fa-facebook"></i>
      </div>
    </a>

  </div>

  <!-- Newsletter Signup -->
  <div class="newsletter-container">
    <app-newsletter [layout]="'horizontal'" style=" height: 500px;"></app-newsletter>
  </div>

  <div class="contact-form-container">
    <app-contact-form></app-contact-form>
  </div>

</div>
